<footer class="page-footer font-small bg-dark text-white">
<div class="container-fluid text-center text-md-left foot">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Naše služby</h5>
        <ul class="list-unstyled">
<li class="mb-2">Odtah porouchaných a havarovaných vozidel včetně vyproštění</li>
<li class="mb-2">Přeprava strojů a zařízení až do hmotnosti 14 tun</li>
<li class="mb-2">Autoservis a pneuservis</li>
<li class="mb-2">Odstavné parkoviště</li>
</ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-3 ml-5">

        <!-- Links -->



                                      
        <ul class="list-unstyled mt-3 ">
          <li>
           BK autoasist s.r.o.,
          </li>
          <li>
            Rychvald, Petřvaldská 610, PSČ 73532
          </li>
          <li>
           IČ: 04599390
          </li>
          <li>
           Obchodní rejstřík: spisová značka C 64325, Krajský soud v Ostravě
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>

   <div class="mb-3 partners">
   <h4 class="ml-3">Naši partneři:</h4>
   <div class="text-center">
   <img class="ml-3" src="../static/img/global.png" alt="global.png, 33kB" title="global" height="90" width="120">
   <img class="ml-3" src="../static/img/awa.jpg" alt="global.png, 33kB" title="global" height="80" width="120">
   <img class="ml-3" src="../static/img/statech.png" alt="global.png, 33kB" title="global" height="60" width="210">
   <img class="ml-3" src="../static/img/euro.png" alt="global.png, 33kB" title="global" height="80" width="120">
   <img class="ml-3" src="../static/img/ruby.jpg" alt="global.png, 33kB" title="global" height="80" width="120">
   <img class="ml-3" src="../static/img/easist.png" alt="global.png, 33kB" title="global" height="80" width="120">
   </div>
   </div>
  <!-- Copyright -->
  <div class="  bg-dark footer-copyright text-center py-3 text-white">© 2020 Copyright:
    <a class="text-white" href="">BK autoasist s.r.o.</a>
  </div>
  <!-- Copyright -->

</footer>