.navbar .nav-item:not(:last-child) {
  margin-right: 35px;
}

.dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

.show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
.dropdown-menu{
    background-color: #e7e7e7; 
}
.dropdown-menu a{
    color: #555555;
}
body{
 background-color: #676767;
}
.pap{
    color: #bebebe; 
    
}
.jumbotron {
 background-image: url("../img/road3.jpg");
 background-repeat: no-repeat;
 background-position: 40% 50%;
 background-size: auto;
 //box-shadow:inset 0 0 0 2000px rgba(18, 18, 18, 0.9);
 //height: 100vh;
         
} 
.foot{
    padding-top: 15px;
        border-bottom-style: solid;
    border-bottom-color: #676767;
    border-bottom-width: 1px;
} 
.footer-copyright{
    border-top-style: solid;
    border-top-color: #676767;
    border-top-width: 1px;
}
.partners{
padding-top: 15px;
      border-top-style: solid;
    border-top-color: #676767;
    border-top-width: 1px;
}
.news{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #292b2c;
    
}
.datum{
    color: #bebebe;
}
.foto{
max-width: 50%;
max-height: 100%;

}