{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
  <a class="navbar-brand" href="#">BK Autoasist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ml-3">
      <li class="nav-item  mr-2">
        <a class="nav-link js" href="../">Domů</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link js" href="/odtah">Odtahová služba</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link active " href="#">Přeprava strojů<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link js" href="/autoservis">Autoservis</a>
      </li>
      <li class="nav-item dropdown mr-2 ">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
          Fotogalerie
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Naše technika</a>
          <a class="dropdown-item" href="#">Vyprošťovací zásahy</a>
          <a class="dropdown-item" href="#">Přeprava strojů</a>
          <a class="dropdown-item" href="#">Autoservis</a>
      </li>
         <li class="nav-item mr-2">
        <a class="nav-link js" href="/kontakt">Kontakty</a>
      </li>
    </ul> 
    
    <ul class="nav navbar-nav navbar-right">
       <h5 class="text-light">
               Tel:
           </h5>
      <li class="ml-3 "><a class="text-light" href="#">+420 773 689 610</a></li>           
      <li class="ml-3"><a class="text-light" href="#">+420 608 800 828</a></li>
    </ul>
  </div> 
  
</nav>


<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="{% static 'fot/slide4.jpg' %}"
          alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption odtah">
        <h3 class="h3-responsive">Přeprava strojů, zařízení a jiné techniky</h3>
        
      </div>
      
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="{% static 'fot/slide5.jpg' %}"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Přeprava strojů, zařízení a jiné techniky</h3>
        
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="{% static 'fot/slide11.jpg' %}"
          alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Přeprava strojů, zařízení a jiné techniky</h3>
        
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>




<div class="odtah ml-5 mb-5 mr-5 prepav text-white">


<p class="odstavec mb-5">Naše společnost nabízí také přepravu strojů a zařízení. Přepravujeme do celkové hmotnosti 14t. 
Samozřejmostí je pojištění nákladu a manipulace. Naši zaměstnanci jsou vyškoleni pro práci se stroji a mají dlouholeté zkušenosti. 
Naše odtahové speciály umožňují nakládku i bez nákladové rampy a stroje v poruše zároveň natáhnout navijákem.</p> 
<h2 class="mb-3 text-white">Přepravujeme:</h2>

<ul class="prepravy text-white">
<li class="mb-2">Montážní plošiny</li>
<li class="mb-2">Vysokozdvižné vozíky</li>
<li class="mb-2">Vrtné soupravy</li>
<li class="mb-2">Bagry</li>
<li class="mb-2">Zemědělskou techniku</li>
<li class="mb-2">A jiné</li>
</ul>

</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha256-lPE3wjN2a7ABWHbGz7+MKBJaykyzqCbU96BJWjio86U=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js" integrity="sha256-6EA3edRalZC0PA7PmE6+Eedf0pgmMNZYOQpgAaZ2h3A=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'js/java.js' %}"></script>
</body>
{% endblock %}
